**/bin/
**/obj/
!premake/bin
bin-int/

# Visual Studio files and folder
.vscode/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Imgui generates this file. This is user/local config
imgui.ini
