# Binary, intermediate and executable files
**/bin/
**/obj/
!premake/bin
bin-int/
ReddyGame.exe

# Visual Studio files and folder
.vscode/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# XCode files
**.pbxproj
**.xcworkspacedata

# Imgui generates this file. This is user/local config
imgui.ini
